[submodule "XSynthesis"]
	path = XSynthesis
	url = https://github.com/Humming-Tacos/XSynthesis.git
[submodule "XTranscribe"]
	path = XTranscribe
	url = https://github.com/Humming-Tacos/XTranscribe.git
[submodule "XGeneration"]
	path = XGeneration
	url = https://github.com/Humming-Tacos/XGeneration.git
